.footer {
  background-color: #1e2126a8;
  padding: 20px;
  margin-top: 5rem;
  .content{
    margin:  20px 0px 20px 0px;
  }

  div {
    padding-bottom: 10px;

    h6 {
      font-family: 'Times New Roman';
      padding: 6px;
      font-size: 15px;
      font-weight: 600;
         color: #ffffff !important;
      text-align: center;
    }
    p {
      font-size: 14px;
      font-weight: 600;
   
    }
    .copyright {
      text-align: center;
      color: #f9fbff62;;
      padding-bottom: 40px;
      
    }
    .link {
      
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
      
      
      p {
        text-transform: uppercase;
        
        text-align: center;
      }
    }
  }
}
